<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Registration form</title>


    <link rel="stylesheet" href="/css/bootstrap.css">

</head>
<body>
<main role="main" class="container">
    <div class="jumbotron jum-custom text-center">
        <h1>Registration form</h1>
    </div>
</main>

<div class="container">

    <div class="col-sm-6 col-md-4 offset-4">
        <form class="form-group" action="#" method="post" th:action="@{/register}" th:object="${user}">
            <input class="form-control" th:field="*{firstName}" placeholder="First Name" /><br />
            <input class="form-control" th:field="*{lastName}" placeholder="Last Name" /><br />
            <p th:errors="*{email}">Email errors</p>
            <input class="form-control" th:field="*{email}" type="email" placeholder="Email" /><br />
            <p th:errors="*{password}">Password errors</p>
            <input class="form-control" th:field="*{password}" type="password" placeholder="Password" /><br />
            <button type="submit" class="btn-lg btn btn-primary btn-block">Zarejestruj</button>
        </form>
    </div>
</div>
<script src="/js/bootstrap.js"></script>
</body>
</html>